*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/
gen/
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# IntelliJ
.idea
*.iml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
libgdx.so
MANIFEST.MF
