# Compilation outputs
*target*
*.jar
*.war
*.ear
*.class

# Eclipse-specific
*.pydevproject
.project
.metadata
bin/
gen/
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# IntelliJ
.idea
*.iml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
libgdx.so
MANIFEST.MF

# Generated on each build
assets/skins
assets/*bindings.json
engine/schema/src/main/java/es/eucm/ead/schema/*
editor/schema/src/main/java/es/eucm/ead/schema/*
editor/core/src/main/java/es/eucm/ead/editor/control/appdata/*
